*{
 margin: 0;
 padding: 0;
 box-sizing: border-box;

}


.container {
    max-width: 900px;
     margin: 0 auto;
}
 
.apply_box{
      max-width: 600px;
      padding:  20px;
      background-color: rgb(173, 225, 225);
      margin: auto;
      margin-top: 50spx;
      box-shadow:  4px 3px 5px rgba(1, 1, 1, 0.1);
      border-radius: 30px;
    }

    .title_small{
        font-size: 20 px;

    }

   .form_container{

    display: grid;
    grid-template-columns: repeat(auto-fit(200px,  1fr));
    
   }